
<div id="gettingstarted">
<h3>Welcome to your profile page</h3>
<p>This is your profile page. It displays a list of your most recent actions, status and location updates, video and photo uploads and blog posts, ordered by the most recent entry.
Your friends and followers can see these updates and follow what you are up to. You can also click the "edit your profile" button to update your personal details and set privacy settings.
</p>
<p><b>It looks like you have not made any recent activity yet. In order to get your stream started, you can:</b></p>
</div>
<div class="startedhide" onclick="$(this).hide();$('#gettingstarted').slideUp();">Dismiss this message</div>
