<li class="arrow">
  <div style="float:left;margin-right:5px;">
    <%= avatar_icon_tag p %>
  </div>
  <div><%= link_to(p.f, p) %>
  <% @user_info = User.find(p.user_id) %>
  <% @user_sett = Settings.find_by_user_id(@user_info.id) %>
  <% if(@twitter_follower)%>
   <% @twitter_followers.each do |twfol|%>
   <% if((@user_sett.twitter_login == twfol.name) || (@user_sett.twitter_login == twfol.screen_name)) %>
       <%= image_tag("/images/tick.png")%>
   <% end %>
   <% end %>
   <% end %>
  </div>
  <div style="font-size:10px;color:#ccc;"><%= p.location if p.location %></div>
  
  
</li>

