
<div id="gettingstarted">
<h3>Welcome to your phone book</h3>
<p>This is your phone book. It provides a list of all the numbers that you have stored on your phone, and lets you easily add new numbers and update your current contacts with new information 
</p>
<p><b>It looks like you have not added any contacts yet. Simply enter a name and phone number on the form to the right to get started:</b></p>
</div>
<div class="startedhide" onclick="$(this).hide();$('#gettingstarted').slideUp();">Dismiss this message</div>
