<div id='email_<%= inplace_email.id %>'>
<br />
<label><%= inplace_email.field_type %>:</label>
<%= inplace_email.value %> <span class="smaller"><%= link_to_remote "remove" , :url => delete_email_profile_path(:email_id => inplace_email ) ,
											    :method => :delete,
												:loading => "$('#mobile_email_spinner').show();" ,
								                :success => "$('#mobile_email_spinner').hide();" %></span>
</div>