<div id="contactlist-nav" class="listNav"></div>
<div class="contentboxwrapper">
    <div class="contentboxouter">
        <div class="contentbox">
 <ul id="contactlist" class="clearfix">
	<%= render :partial => 'kontact', :collection => @kontacts %>
 </ul>
</div>
</div>
</div>
<%#= will_paginate @kontacts %>