<% @page_title = 'Reset Password' %>
<%= draw_crumbs Crumb.new("Login", login_url)%>

<% content_for :formholder do %>
	<% form_tag send_reset_password_path do %>
		<ul>
			<li>For security reasons passwords are encrypted and cannot be recovered. Please enter your
			   username and a link will be sent to your registered mobile number. Following the link will
			   allow you to reset your password.</li>
			<li>
			  <label>Username</label>
				<%= text_field_tag :login %>
			</li>
			<li><%= submit_tag 'Send', :disable_with => "Sending.." %></li>
	  </ul>
	<% end %>
<% end %>
