<% @page_title = 'Reset password' %>

<% content_for :topbox do %>
  After you reset your 7.am password we will re-send your sync settings to your mobile
  so that you can continue to sync your contacts and you will be asked to login again. 
<% end %>

<% content_for :formholder do %>
  <% form_tag reset_password_do_path(@u) do %>
    <ul>
      <li><%= label_tag 'New Password' %></li>
      <li><%= password_field_tag :new_password %></li>
      <li><%= submit_tag "Reset", :disable_with => "Resetting.." %>
    </ul>
  <% end %>
<% end %>

