<% @page_title = "Bank" %>
<%= draw_crumbs Crumb.new("SmartBucks", profile_wallet_path(@profile)) %>
<% content_for :topbox do %>
	<div>
		<ul>
		  <li>
			Current Balance : <strong><%= @wallet.balance.format %></strong>
		  </li>
		</ul>
	</div>
<% end %>

<% content_for :stories do %>
<ul>
	<li class="heading">
		Packages
	</li>
	<%= render :partial => 'buy_service', :collection => @services %>
</ul>
<% end %>