
<div id="gettingstarted">
<h3>Welcome to your Friend Network</h3>
<p>This is your kontact network. You can easily see who you are friends with and who you are following. You can also search for new kontacts.
</p>
<p><b>It looks like you have no friends and are not following anyone. Simply enter a search term on the form to the right to start building your network:</b></p>
</div>
<div class="startedhide" onclick="$(this).hide();$('#gettingstarted').slideUp();">Dismiss this message</div>
