<h3>Subscription Service</h3>
Please note that completing a dating profile will
subscribe you to the 7.am dating service at a cost
of R7 per week. You can cancel this subscription at
any time by deleting your dating profile. You will
be charged as long as your dating profile exists.