<% @page_title = "Create Dating Profile" %>

<%= draw_crumbs %>

<% content_for :actions do %>
  <ul>
    <li><%= link_to "Continue", new_profile_dating_profile_url(@p) %></li>
    <li><%= link_to "Cancel", @p %></li>
  </ul>
<% end %>
  