<% @page_title = 'Change password' %>
<%= draw_crumbs Crumb.new('Settings', settings_path) %>

<% content_for :topbox do %>
<div>
	<ul>
	  <li>
		  After you change your 7.am password we will re-send your sync settings to your mobile
		  so that you can continue to sync your contacts and you will be asked to login again. 
	  </li>
	</ul>
</div>
<% end %>

<%= render :partial => 'change_password_form' %>


