<% @page_title = 'Terms and Conditions' %>
<% draw_crumbs -%>

<% content_for :topbox do %>
<h1>Terms of use - Placeholder Text from Zoopy Sample (http://www.zoopy.com)</h1>
<p class="intro">Make sure you're happy.</p>
	<div class="left-column">
		<p>You can download a PDF version of this document <a href="/files/zoopy_terms_of_use_v2_1.pdf" title="Zoopy Terms of Use v2.1 (PDF, 184kB)" class="link">here</a> (PDF, 184kB).</p>
		<h2 class="terms">Introduction</h2>
		<p><em>These terms of use</em></p>
		<p>We make our Service available on condition that you accept these terms of use as
		they are and without modifications. These terms of use are a binding contract
		between you and us so it is very important that you read them carefully and ensure
		that you understand and accept them.</p>
		<p>If you access and/or use the Service, we will take that to mean you have read and
		understand these terms of use and agree to them. <strong>If you do not agree with any
		provision contained in these terms of use, please do not use the Service or any
		of the services.</strong></p>
		<p>We reserve the right, in our sole discretion, to, and you agree that we may, amend
		these terms of use at any time, in any way and from time to time. We will notify you if
		and when we amend these terms of use. These amendments shall come into effect
		immediately and automatically.</p>
		<p>It is your responsibility to review these terms of use regularly and to ensure that you
		agree with any amendments to these terms of use. If you do not agree with any
		amendments to these terms of use, you may no longer make use of the website or
		the services.</p>
		<p>Only we may amend these terms of use and when we do so, it will be in writing.</p>
		<p>Chapter VII of the ECT Act grants rights to any natural person (in other words, living
		human beings) who enters or intends entering into what is known as an "electronic
		transaction" with us on the Service. None of these terms of use are intended to limit
		the rights the ECT Act grants you.</p>
		<p>Any reference in these terms of use to a party shall, if such party is liquidated or
		sequestrated (the meaning of which includes any analogous proceedings in any
		other jurisdiction), be applicable also to and binding upon that party's liquidator or
		trustee, as the case may be.</p>
		<h3>Legal age and capacity</h3>
		<p>You may not use the Service and may not accept these terms of use if you are a
		person barred from receiving the Service under the laws of the Republic of South
		Africa or other countries including the country in which you are resident or from which
		you use the Service.</p>
		<p>In using the Service and/or the content you represent and warrant that you are of full
		legal age, or are emancipated or have your guardian's consent to enter into a
		contract being these terms of use.</p>
		<p>Content accessible through the Service may not be appropriate for all users and
		while we take steps to monitor and remove objectionable content, it remains solely
		your responsibility not to consume inappropriate content or prevent under age users
		from accessing this content where it is within your control to do so.</p>
		<h3>Definitions</h3>
		<p>These terms of use may contain a number of terms and phrases which have a
		specific meaning in this document. In these terms of use, headings are for
		convenience and shall not be used in its interpretation;</p>
		<p>Unless we indicate to the contrary in these terms of use, any references to any
		gender includes the other genders, a natural person includes an artificial person and
		vice versa, the singular includes the plural and vice versa;</p>
		<p>The following expressions shall bear the meanings assigned to them below and
		related expressions shall bear corresponding meanings &ndash;</p>
		<ul>
			<li>"access" when used in the context of the Service, means to visit, use, load in a
			web browser, mobile phone or similar software application or device or otherwise
			engage with the Service;</li>
			<li>"content" means all information (such as data files, written text, computer
			software, music, audio files or other sounds, photographs, videos or other
			images) which you may have access to as part of, or through your use of, the
			Service;</li>
			<li>"the ECT Act" means the Electronic Communications and Transactions Act 25 of
			2002;</li>
			<li>"intellectual property" means, collectively, the patents, copyrights (and moral
			rights), trademarks, designs, models, brands, names, trade names, graphics,
			icons, hyperlinks, know-how, trade secrets and any other type of intellectual
			property (whether registered or unregistered including applications for and rights
			to obtain or use same) which we own, license, use and/or hold (whether or not
			currently) on or in connection with this Service;</li>
			<li>"know-how" means all the ideas, designs, documents, diagrams, information,
			devices, technical and scientific data, secrets and other processes and methods
			we use in connection with this Service, as well as, all available information
			regarding marketing and promotion of the products and services described in
			this Service, as well as all and any modifications or improvements to any of
			them;</li>
			<li>"post" means to upload, publish, transmit, share or store;</li>
			<li>"RIC Act" means the Regulation of Interception of Communications and
			Provision of Communication Related Information Act 70 of 2002;</li>
			<li>"Service" means Zoopy's products, software, services and the website;</li>
			<li>"terms of use" means these terms and conditions of use, as amended from time
			to time;</li>
			<li>"trademarks" means those trademarks we own (or which we are designated as
			beneficial owner of) and any other trademarks, designs, logos, style names, tag
			lines and slogans which we own or have the right to use or any derivative
			service offerings of, and applications for, any of same;</li>
			<li>"website" means each and every website we own, host, operate or administer
			including, but not limited to, the websites located at <a href="http://www.zoopy.com" title="http://www.zoopy.com" class="link">http://www.zoopy.com</a> and <a href="http://m.zoopy.com" title="http://m.zoopy.com" class="link">http://m.zoopy.com</a>;</li>
			<li>"you" means users of and visitors to the Service as well as any other person
			seeking to interact with the Service;</li>
			<li>"Zoopy", "us" and "we" means Zoopy (Proprietary) Limited, a company duly
			registered and incorporated in accordance with the laws of the Republic of South
			Africa and with registration number 2005/017777/07,</li>
		</ul>
		<p>When any number of days is prescribed such number shall exclude the first day and
		include the last day unless the last day falls on a Saturday, Sunday or public holiday
		in the Republic of South Africa, in which case the last day shall be the next
		succeeding day which is not a Saturday, Sunday or public holiday in the Republic of
		South Africa;</p>
		<p>All annexures, addenda and amendments to these terms of use form an integral part
		of these terms of use and, therefore, our contract with you.</p>
		<h2 class="terms">Service provision</h2>
		<p>We offer the Service to you on or through the website subject to these terms of use.
		The Service may also be subject to additional terms of service in which case we will
		notify you of this fact.</p>
		<p>Zoopy constantly strives to improve your experience of the Service. In doing so, we
		may add new services and modify or even discontinue existing services without
		notice to you and in our sole discretion. You agree to this.</p>
		<p>You are free to stop using the Service at any time without notifying us.</p>
		<h2 class="terms">Registration with Zoopy</h2>
		<p>You are required to register for the Service if you wish to make use of certain of the
		services or access certain parts of the Service. Registration with Zoopy through the
		Service is achieved using a registration form available on the website. When you
		register with us, you will be asked to select a username and a password which you
		will use to secure your account.</p>
		<p>In order to successfully complete the registration process, you are required to submit
		information about yourself and your preferences to Zoopy ("registration data"), the
		use of which information is governed by the privacy policy set out below.</p>
		<p>You warrant that information you submit to the Service through the registration form
		and your user profile is accurate, current and complete. You will be denied access to
		the Service should you breach this warranty or subsequently be found to have
		breached this warranty.</p>
		<a name="jump1"></a>
		<p>We will take steps to verify your registration data once you have completed the
		requisite registration process. You agree to this verification process and irrevocably
		consent to Zoopy gaining access to relevant information held by third parties which
		may be required to reasonably complete the verification process.</p>
		<p>Should you not agree to the verification process or withhold your consent as
		<a href="#jump1" title="contemplated above" class="link">contemplated above</a>, your membership of the Service may be suspended or
		terminated. Similarly, if the verification process is not successful, you agree that your
		access to the Service may be blocked and you waive any claims you may have
		against Zoopy, its officers, directors, employees, servants, agents and/or contractors
		arising out of Zoopy's denial of access to you to the Service.</p>
		<p>Your acknowledge and agree that access to the services may be limited until such
		time as the verification process has been successfully completed.</p>
		<p>You agree that the security of your account is solely your own responsibility. You
		further agree that &ndash;</p>
		<ul>
			<li>you are responsible for maintaining and promptly updating the registration data
			and any other information you provide to Zoopy, thereby keeping it accurate,
			current and complete;</li>
			<li>if you believe the security of your account has been compromised in any way,
			you will notify Zoopy immediately;</li>
			<li>if you believe that information or content posted to the Service infringes on any
			person's rights in any way, you will notify Zoopy immediately;</li>
			<li>you shall be held fully responsible for any misuse or compromise to your account
			for which Zoopy is not properly notified; and</li>
			<li>if any security violations are believed to have occurred in association with your
			account, Zoopy has the right to suspend access to your account pending an
			investigation and resolution.</li>
		</ul>
		<h2 class="terms">Users' code of conduct</h2>
		<p>You may not use the Service or the content for or in conjunction with any illegal,
		unlawful or immoral purposes or as prohibited by these terms of use.</p>
		<p>You may not frame this website or any of the pages on the Service in any way
		whatsoever without the prior written permission of Zoopy. Recognising the global
		nature of the Internet, you agree to comply with all local laws, rules and regulations
		regarding online conduct.</p>
		<p>You agree to adhere to generally acceptable Internet and e-mail etiquette. In this
		regard, without being limited to the examples listed below, you agree not to:</p>

		<ul>
			<li>engage in any abuse of e-mail or spamming, including, without being limited to -
				<ul>
					<li>the posting or cross-posting of unsolicited articles with the same or
					substantially the same message to recipients that did not request to receive
					such messages, and</li>
					<li>inviting people who you may be connected to using services outside Zoopy
					to join Zoopy where those people may not wish to receive such invitations or
					similar communications (in other words, make sure your contacts on other
					services are receptive to receiving invitations to join Zoopy or other
					communications you send them from Zoopy);</li>
				</ul>
			</li>
			<li>engage in any activity intended to entice, solicit or otherwise recruit users of the
			Service to join an organisation except where such activities are expressly
			authorised by Zoopy in writing and published to the Service;</li>
			<li>take any action aimed at deceiving or misleading any person, attempt to
			impersonate or misrepresent your affiliation to any person or forge headers or
			otherwise manipulate identifiers in order to disguise the origin of anything posted
			or transmitted through the services;</li>
			<li>use the services to post or transmit anything which is defamatory, discriminatory,
			obscene, offensive, threatening, abusive, harassing, harmful, hateful or which
			carries child pornography, religious or racial slurs or threatens or encourages
			bodily harm or the like or which may violate any person's personality rights;</li>
			<li>use the services to make fraudulent offers to sell or buy products, items or
			services or to offer or solicit for any type of financial scam such as "pyramid
			schemes" and "chain letters";</li>
			<li>use the services in a manner that may infringe the intellectual property rights (for
			example copyright or trade marks) or other proprietary rights of others, including
			(without being limited to) the transmission of pirated software;</li>
			<li>use the services in any manner which could damage, impair, overburden or
			disable the services or interfere with any other party's use or enjoyment of the
			services;</li>
			<li>use the services to post anything which contains viruses or any other destructive
			features, regardless of whether or not damage is intended;</li>
			<li>gather e-mail addresses and/or names for commercial, political, charity or like
			purposes or use the services to collect or attempt to collect personal information
			about third parties without their knowledge or consent; and</li>
			<li>violate the privacy of any person or attempt to gain unauthorised access to the
			services or any other network, including (without being limited to) through
			hacking, password mining or any other means; and/or</li>
			<li>use the services to engage in any illegal or unlawful activity.</li>
		</ul>
		<p>Should you engage in any one or more of the above practices, which shall be
		determined in Zoopy's sole discretion (and which decision shall be final), then Zoopy
		shall be entitled, without prejudice to any other rights it may have, to:</p>
		<ul>
			<li>without notice, suspend or terminate your access to the Service;</li>
			<li>bill you for any costs we incur, including (without being limited to) bandwidth,
			administration costs, downtime, usage of Zoopy's name or registered domain
			names and CPU cycles; and/or</li>
			<li>notwithstanding Zoopy's <a href="#jump2" title="privacy policy below" class="link">privacy policy below</a>, disclose any information relating
			to you, whether public or personal, to all persons affected by your actions.</li>
		</ul>
		<h2 class="terms">Licenses</h2>
		<h3>Zoopy's license to you</h3>
		<p>Zoopy grants you a personal, revocable, worldwide, royalty-free, non-transferrable
		and non-exclusive licence to access the Service. This licence is for the sole purpose
		of enabling you to use and enjoy the benefit of the services which we provide you
		with, in the manner permitted by these terms of use. In the event we revoke this
		license, you may no longer access the services.</p>
		<p>We provide you with an embeddable player feature, which you may incorporate into
		your websites to display users' content posted to the Service. The license we grant
		you to access the Service (above) applies to this embeddable player.</p>
		<p>You may not (and you may not permit anyone else to) copy, modify, create an
		adaptation of, reverse engineer, decompile or otherwise attempt to extract the source
		code of the website or any part thereof, unless this is expressly permitted or required
		by law, or unless we have specifically told you that you may do so, in writing.</p>
		<p>Unless we have given you specific written permission to do so, you may not transfer,
		through an assignment of rights, sub-licence or otherwise, your rights to use the
		Service or otherwise transfer any part of your rights to use the Service.</p>
		<p>To the extent that any copying, reproduction, distribution, transmission, display,
		broadcasting or publishing of any content is expressly permitted (such permission to
		be interpreted in its most restrictive sense) you may do so, provided that all
		trademarks, trade names and all copyright, ownership, proprietary and confidentiality
		notices as are included on the original content are retained and displayed without
		alteration or modification and not in any manner obscured or removed.</p>
		<p>You acknowledge that you do not acquire any ownership rights or rights of use in or
		to any content by copying, reproducing, distributing, transmitting, displaying,
		broadcasting or publishing that content where permitted to do so.</p>
		<p>Caching of the website shall only be permitted if:</p>
		<ul>
			<li>the purpose of caching is to make the onward transmission of the content from</li>
			<li>the website more efficient;</li>
			<li>the cached content is not modified in any manner whatsoever;</li>
			<li>the cached content is updated at least every 12 (twelve) hours; and</li>
			<li>the cached content is removed or updated when so required by Zoopy.</li>
		</ul>
		<a name="jump3"></a>
		<h3>Your license to Zoopy</h3>
		<p>Zoopy does not claim any ownership rights in the content that you post to the
		Service. You retain any rights that you may have in your content when you post your
		content to or otherwise access the Service, subject to the limited license you grant to
		Zoopy.</p>
		<p>By posting any content on or through the services, you grant to Zoopy a nonexclusive,
		fully-paid, royalty free, non-transferrable and worldwide license to use,
		modify, delete from, add to, publicly perform, publicly display, reproduce, distribute
		such content solely on or through the services including without limitation, distributing
		part or all of the services or content in any media formats and through any media
		channels and make use of the content in Zoopy's advertising campaigns, except for
		content you have marked "private" which will not be distributed outside the Website.</p>
		<p>This limited license does not grant Zoopy the right to sell or otherwise distribute your
		content outside of the services. We will cease distribution of your content as soon as
		reasonably practicable after you remove your content from the services. At that
		point, the license you grant Zoopy will terminate. If you change your content's
		publicity setting to "private" after we have distributed your content outside the
		Service, we will cease distribution of such "private" content outside the Service as
		soon as reasonably practicable after you make the change.</p>
		<p>The license you grant to Zoopy means that -</p>
		<ul>
			<li>you are free to license your content to anyone else in addition to Zoopy,</li>
			<li>Zoopy is not required to pay you for the use of the content you post to the
			services,</li>
			<li>Zoopy is able to use its affiliates, sub-contractors and other partners such as
			Internet content delivery networks and wireless carriers to provide the services,
			and</li>
			<li>the license extends to anywhere in the world because of the global nature of the
			Internet and the the fact that Zoopy's users can access the content from
			anywhere in the world.</li>
		</ul>
		<p>Because you can only lawfully license content you have certain rights in, you
		represent and warrant that:</p>
		<ul>
			<li>you own the content you posted on or through the services or otherwise have
			the right to grant the license set forth in <a href="#jump3" title="this section" class="link">this section</a>, and</li>
			<li>posting your content on or through the services does not violate the privacy
			rights, publicity rights, copyright, contractual rights or any other rights of any
			person or entity.</li>
		</ul>
		<p>You also agree to pay for all royalties, fees, and any other monies owing to any
		person or entity by reason of any content you post on or through the services.</p>
		<h3>Your license to other users</h3>
		<p>When you post content to Zoopy you will be asked to select a secondary copyright
		license, which is additional to <a href="#jump3" title="the license you grant to Zoopy" class="link">the license you grant to Zoopy</a>. This license will govern
		how third parties, including other users, may use your content. You can designate
		this license to be a Creative Commons License (for more information about Creative
		Commons licenses, see <a href="http://www.creativecommons.org" title="http://www.creativecommons.org" class="link">http://www.creativecommons.org</a>) or you can simply elect
		not to license your content and reserve all your rights. You agree that Zoopy may
		make your content available to third parties, subject to such third parties abiding by
		the terms of this secondary license.</p>
		<p>While Zoopy will advise third parties of the secondary license you select and request
		that the terms of such license be and are observed, you acknowledge that it is not
		Zoopy's responsibility to enforce this secondary license and Zoopy cannot guarantee
		that your secondary license will in fact be observed by any third parties.</p>
		<a name="jump2"></a>
		<h2 class="terms">Privacy policy</h2>
		<p>Zoopy shall take reasonable steps to protect your personal information. For the
		purposes of this clause "personal information" shall be defined as detailed in the
		Promotion of Access to Information Act 2 of 2000.</p>
		<p>Zoopy may electronically collect, store and use personal information with your
		consent (if you don't consent to this, please do not register on the website). This
		personal information includes, but is not limited to, the following:</p>
		<ul>
			<li>name and surname;</li>
			<li>contact details;</li>
			<li>personal preferences;</li>
			<li>non-personal browsing habits and click patterns;</li>
			<li>email address; and</li>
			<li>IP address.</li>
		</ul>
		<p>Zoopy collects, stores and uses the personal information described in order to (but
		not limited to the following) &ndash;</p>
		<ul>
			<li>communicate requested information to you, for example through user alerts;</li>
			<li>communicate information to you regularly, for example through newsletters;</li>
			<li>compile and maintain the website and member database;</li>
			<li>register and/or authenticate users of and/or visitors to the website and/or
			services;</li>
			<li>identify and take reasonable measures to prevent fraudulent uses of or access
			to the website;</li>
			<li>compile non-personal statistical information about browsing habits, click patterns
			and access to the website;</li>
			<li>attract advertisers by showing anonymised information about the database, for
			example demographics;</li>
			<li>track database size and growth; and</li>
			<li>track compliance of registrants and third parties with these terms of use.</li>
		</ul>
		<p>The personal information is collected either electronically (for example, through the
		use of cookies) or is provided voluntarily by users of and/or visitors to the website.
		You may determine cookie use independently through your web browser settings.</p>
		<p>Personal information collected from you may be deleted from the website and
		member databases when your account on the website is terminated for any reason.</p>
		<p>Zoopy may collect, maintain, save, compile, share, disclose and sell the information
		subject to the following:</p>
		<ul>
			<li>Zoopy shall not disclose personal information unless the person from whom the
			personal information is collected, consents thereto;</li>
			<li>Zoopy shall disclose the information without your consent only where Zoopy is
			compelled to do so by law; and</li>
			<li>Zoopy may compile, use and share any of the information that does not relate to
			a specific individual.</li>
		</ul>
		<p>In the event that your personal information is inaccurately or incompletely reflected
		on the website, you agree that it is your responsibility to notify Zoopy of this fact and
		to supply Zoopy with the accurate or complete information to enable Zoopy to
		address your concerns.</p>
		<h2 class="terms">Software and equipment</h2>
		<p>It is your responsibility to acquire and maintain, at your own expense, the computer
		hardware, software, communications infrastructure and access accounts required to
		access the Internet and the Service.</p>
		<h2 class="terms">Liability</h2>
		<h3>Disclaimers and limitation of liability</h3>
		<p>Your use of and reliance on the services is entirely at your own risk. The services are
		provided "as is".
		<p>Although we take steps to verify information presented on the Service, we do not
		represent or endorse the accuracy or reliability of any advice, opinion, statement, or
		other information contained in, displayed on, linked to or distributed through the
		Service or the content. You acknowledge that any reliance upon any such opinion,
		advice, statement or information shall be at your sole risk. We reserve the right, in
		our sole discretion, to correct any errors or omissions in the Service.</p>
		<p>Information, ideas and opinions expressed on or through the services should not be
		regarded as professional advice or our official opinion and you are strongly advised
		to seek professional advice before acting on such information.</p>
		<p>To the fullest extent permissible by law, we disclaims all warranties of any kind,
		whether express or implied, including without limitation to the implied warranties that
		the Service or the content are fit for any purpose. We specifically do not warrant that:</p>
		<ul>
			<li>the functions contained in the Service or the content will meet your requirements
			or operate in every combination selected by you for use; will be uninterrupted,
			timely, secure or error free;</li>
			<li>any defects or errors will be corrected; or that the Service or the content or the
			server that makes them available is free of viruses or other harmful components;</li>
			<li>the Service or the content will provide specific results from use of the Service or</li>
			<li>the content or any content, search or link within them or that the results that may
			be obtained from the use of the Service will be accurate or reliable.</li>
		</ul>
		<p>Whilst we takes reasonable precautions in our operation of the Service, neither
		Zoopy or its agents or representatives will assume any responsibility and neither
		Zoopy or its agents or representatives (in whose favour this constitutes a stipulatio
		alteri or stipulation for another) shall be liable for any damages to or for viruses that
		may infect your computer equipment or software or other property on account of your
		access to, use of or browsing of the Service or the content or your downloading of
		any content. Any content downloaded or otherwise obtained through the use of the
		Service or the content is done at your own discretion and risk and you will be solely
		responsible for any damage to your computer system or loss of data that results from
		the download of any such material.
		<p>We will use reasonable endeavours to make the Service available to you, and keep
		the Service available to you at all times. However, you agree that Zoopy shall not be
		liable in respect of any loss or damage caused by or arising from the unavailability of,
		any interruption in or the use of the Service for any reason whatever.
		<p>You further agree that &ndash;</p>
		<ul>
			<li>under no circumstances whatsoever, including as a result of Zoopy's negligent
			acts or omissions or those of its servants, agents or contractors or other persons
			for whom in law Zoopy may be liable, shall Zoopy or its servants, agents or
			contractors or other persons for whom in law Zoopy may be liable (in whose
			favour this constitutes a stipulatio alteri or stipulation for another), be liable for
			any direct, indirect, extrinsic, special, penal, punitive, exemplary or
			consequential loss, damage or damages of any kind whatsoever or howsoever
			caused (whether arising under contract, delict or otherwise and whether the loss
			was actually foreseen or reasonably foreseeable), including but not limited to
			any loss of profits, loss of revenue, loss of operation time, corruption or loss of
			information or data and/or loss of contracts sustained by you, your directors,
			servants, dealers or customers, resulting from your use of or inability to use the
			Service or the content.</li>
			<li>no claims or legal action arising out of, or related to, the use of the Service, the
			content or these terms of use may be brought by you more than 1 (one) year
			after the cause of action relating to such claim or legal action arose.</li>
		</ul>
		<h3>Indemnity</h3>
		<p>You hereby indemnify Zoopy and its officers, directors, employees, servants, agents
		or contractors or other persons for whom in law Zoopy may be liable (in whose
		favour this constitutes a stipulatio alteri or stipulation for another) from any loss,
		damage, damages, liability, claim or demand due to or arising out of your use of the
		Service or the content or your breach of these terms of use.</p>
		<p>Zoopy is not responsible for files and data residing on your account. You agree to
		take full responsibility for files and data transferred and to maintain all appropriate
		backup of files and data stored on Zoopy servers.</p>
		<a name="jump6"></a>
		<h3>Rights infringement</h3>
		<p>If you are of the view that your rights have been infringed through the unlawful use of
		the Service by registrants or third parties, you may address a complaint to us which
		satisfies the following requirements and/or contains the following information:</p>
		<ul>
			<li>the full names and address of the complainant;</li>
			<li>the written or electronic signature of the complainant;</li>
			<li>identification of the right that has allegedly been infringed;</li>
			<li>identification of the material or activity that is claimed to be the subject of
			unlawful activity;</li>
			<li>the remedial action required to be taken by the service provider in respect of the
			complaint;</li>
			<li>telephonic and electronic contact details, if any, of the complainant;
			a statement that the complainant is acting in good faith;</li>
			<li>a statement by the complainant that the information in the take-down notification
			is to his or her knowledge true and correct.</li>
		</ul>		
		<p>Please address your notifications to:</p>
		<ul>
			<li>Jason Elk</li>
			<li>Email: <a href="mailto:copyright@zoopy.com" title="copyright@zoopy.com" class="link">copyright@zoopy.com</a></li>
			<li>Fax: 021 552 6385</li>
		</ul>
		<p>Zoopy will investigate the complaint on receipt of a complete and properly formulated
		complaint notice and will take appropriate action where necessary. Such action may
		include, but is not limited to, removing the offending content from the website and/or
		suspension or termination of the offending registrant or third party.</p>
		<h3>Dealings with third parties</h3>
		<p>Links to and from the Service to other websites belonging to or operated by third
		parties ("linked websites") do not constitute an endorsement by Zoopy of such linked
		websites or their contents nor do they constitute any association by Zoopy with their
		owners or operators. You are solely responsible for identifying and familiarising
		yourself with any terms of use which will govern your relationship with such third
		party.</p>
		<p>Zoopy has no control over such linked websites and is not responsible or liable for
		any content, information, goods or services available on or through any such linked
		websites or for any damage, damages or loss caused or alleged to be caused by or
		in connection with your use of or reliance on any such content, information, goods or
		services available on or through any such linked websites. You agree that where you
		access linked websites, you do so entirely at your own risk.</p>
		<p>Your interaction, correspondence or business dealings with third parties which are
		referred to or linked from or to the Service is similarly entirely at your own risk and
		are solely between you and such third party including the acquisition, disposal,
		payment and delivery of any goods or services, and any terms, conditions,
		warranties or representations associated with such interaction, correspondence or
		business dealings.</p>
		<h2 class="terms">Governing law and jurisdiction</h2>
		<p>This website is controlled and maintained from our facilities in the Western Cape
		province of the Republic of South Africa.</p>
		<p>We both agree that these terms of use shall be governed by and construed and
		interpreted in accordance with the laws of the Republic of South Africa.</p>
		<p>You irrevocably and unconditionally consent to the jurisdiction of the Magistrates
		Court even though the value of your claim may exceed the ordinary monetary
		jurisdiction of the Magistrates Court.</p>
		<p>You also irrevocably and unconditionally consent and submit to the non-exclusive
		jurisdiction of the High Court of South Africa, sitting in Cape Town, Western Cape,
		South Africa.</p>
		<h2 class="terms">Legal service of documents and notices</h2>
		<p>Zoopy chooses <a href="#jump4" title="the addresses below" class="link">the addresses below</a> for all communication purposes under these
		terms of use, whether in respect of court process, notices or other documents or
		communications of whatsoever nature.</p>
		<a name="jump5"></a>
		<h2 class="terms">We may monitor your communications</h2>
		<p>Subject to the provisions of the Regulation of Interception of Communications Act 70
		of 2002 ("the RIC Act"), you agree to permit Zoopy to intercept, block, filter, read,
		delete, disclose and use all communications you send or post to or using the website
		and/or to Zoopy's staff and/or employees.</p>
		<p>You agree and acknowledge that <a href="#jump5" title="the consent" class="link">the consent</a> you provide above satisfies the
		"writing" requirement specified in the ECT Act and in the RIC Act.</p>
		<h2 class="terms">Severability</h2>
		<p>Any provision in these terms of use which is or may become illegal, invalid or
		unenforceable shall be ineffective to the extent of such prohibition or unenforceability
		and shall be treated pro non scripto (as if it were not written) and severed from these
		terms of use, without invalidating the remaining provisions of these terms of use.</p>
		<h2 class="terms">Termination</h2>
		<p>If you breach any of these terms of use, Zoopy may immediately, automatically and
		without notice to you, terminate your use of and access to Zoopy's website, and/or
		prohibit your future access to use of Zoopy's website, and/or take appropriate legal
		action against you (including without limitation, applying for urgent and/or interim
		relief or claiming damages), without incurring any liability to you of any nature
		whatsoever and howsoever arising, and all of Zoopy's rights in this regard are
		expressly reserved.</p>
		<a name="jump4"></a>
		<h2 class="terms">Disclosures required by the ECT Act</h2>
		<p>Access to the content, services and/or products available on or through the website
		are classified as "electronic transactions" in terms of the ECT Act and therefore you
		have the rights detailed in Chapter VII of the ECT Act and Zoopy has the duty to the
		disclose the following information:</p>
		<table>
			<tr><td>Full name and legal status of Zoopy:</td><td>Zoopy CC (registration number 2005/017777/08)</td></tr>
			<tr><td>Street address:</td><td>Unit D76, Putnam Junction, School Street, Milnerton, 7441</td></tr>
			<tr><td>Postal address:</td><td>P O Box 55257, Sunset Beach, 7441</td></tr>
			<tr><td>Physical address for receipt of legal service:</td><td>Unit D76, Putnam Junction, School Street, Milnerton, 7441</td></tr>
			<tr><td>Main business:</td><td>Online media services</td></tr>
			<tr><td>Website address:</td><td><a href="http://www.zoopy.com" title="http://www.zoopy.com" class="link">http://www.zoopy.com</a> and <a href="http://m.zoopy.com" title="http://m.zoopy.com" class="link">http://m.zoopy.com</a></td></tr>
			<tr><td>Official email address:</td><td>info@zoopy.com</td></tr>
			<tr><td>Membership of self-regulatory or accreditation bodies:</td><td>None</td></tr>
			<tr><td>Codes of conduct to which Zoopy subscribes:</td><td>None</td></tr>
			<tr><td>Governing terms of use:</td><td>These terms of use</td></tr>
			<tr><td>Manual in terms of the Promotion of Access to Information Act 2 of 2000:</td><td>Not applicable</td></tr>
			<tr><td>Management:</td><td>Directors are Jason Elk, Patricia Harriet Elk, Tlhabeli Christopher Ralebitso and Gerardo Abreu Da Silva.</td></tr>
			<tr><td>Costs associated with the access to and use of the website:</td><td>It is free to join. Users may incur costs gaining access to the Service depending on their service provider/s.</td></tr>
			<tr><td>Dispute resolution:</td><td>No special provisions.</td></tr>
			<tr><td>Cooling off period:</td><td>Not applicable</td></tr>
			<tr><td>Complaints process:</td><td><a href="#jump6" title="See clause above" class="link">See clause above</a></td></tr>
		</table>
		<h2 class="terms">General terms</h2>		
		<p>You agree that:</p>
		<ul>
			<li>you are bound by these terms of use;</li>
			<li>this agreement shall be deemed to have been concluded in Johannesburg at the
			time you access the website for the first time;</li>
			<li>data messages addressed by you to Zoopy shall be deemed to have been &ndash;
				<ul>
					<li>received if and when responded to;</li>
					<li>sent by you within the geographical boundaries of the Republic of South
					Africa;</li>
				</ul>
			</li>
			<li>you shall be deemed to have been received data messages addressed to you by
			Zoopy as detailed in section 23(b) of the ECT Act;</li>
			<li>electronic signatures, encryption and/or authentication are not required for valid
			electronic communications between you and Zoopy;</li>
			<li>as well as warrant that data messages that you send to Zoopy from a computer,
			IP address or mobile device normally used by you, was sent and/or authorised
			by you personally.</li>
		</ul>
		<p>These terms of use constitute the whole agreement between you and Zoopy relating
		to your access to and use of the Service.</p>
		<p>No indulgence, extension of time, waiver or relaxation of any of the provisions or
		terms of these terms of use which Zoopy may show, grant or allow you shall operate
		as an estoppel against Zoopy in respect of its rights under these terms of use nor
		shall it constitute a waiver by Zoopy of any of Zoopy's rights and Zoopy shall not
		thereby be prejudiced or stopped from exercising any of its rights against you which
		may have arisen in the past or which might arise in the future.</p>
		<p>Nothing in this agreement shall create any relationship of agency, partnership or joint
		venture between you and Zoopy and you shall not hold itself out as the agent or
		partner of Zoopy or as being in a joint venture with Zoopy.</p>
	</div> <!-- /.left-column -->
		
		
<% end %>