<h3>Note: 7.am is alpha software</h3>
Since 7.am is in early alpha testing it's possible that your 
<strong><%= "#{@device.brand} #{@device.model}" if @device %></strong>
will not be fully supported and you may not receive the optimal user experience.