<li><%= link_to('Profile', @p, :class => 'profile') %></li>
<li><% link_to('Phone Book', profile_kontacts_path(@p), :class => 'phonebook') %></li>
<li><% link_to ('Friends', profile_friends_path(@p), :class => 'friends') %></li>
