<div id="header">
  <ul class="tabs">
    <li><%= link_to 'Home', home_path, :class=>'home' %></li>
    <li><a href="#" class="tour">Take the Tour</a></li>
    <li><a href="#" class="explore">Explore</a></li>
  </ul>
</div>
