<h3 class="homesignup homeformtoggle">Sign up for free</h3>

<div id="homesignupform" class="homeformfields">
  <% render :partial => 'home/sign_up_form' %>
  <%= render :partial => 'home/sign_up_instructions' %>
</div>
