<div id="homepoints">
  <ul class="tabs">
    <li class="sync">
      <p>7.am seamlessly backs up and synchronises your mobile phone contacts and lets you manage and edit them online</p>
    </li>
    <li class="connect">
      <p>Share your photos, videos and location with your social network and view their updates on your mobile phone.</p>
    </li>
    <li class="locate">
      <p>Find people in your neighbourhood that share your interests and passions and chat online with them for free.</p>
    </li>
  </ul>
</div>
