<%= render :partial => 'home/sign_up_login_js_toggle' %>

<div id="page" class="clearfix">
  
  <div id="homeformwrapper">
    <div id="homeformouter">
      <div id="homeform">
        <%= render :partial => 'home/sign_up' %>
        <%= render :partial => 'home/login' %>
      </div>
    </div>
  </div>
  
  <h1 id="homepitch">7.am - Sync. Chat. Locate. Connect with your most valuable social network - the friends and family on your mobile phonebook</h1>
</div>

<%= render :partial => 'home/sync_connect_locate_bar' %>
