
 <%
feed_item ||= @feed_item
status ||= feed_item.item
%>
<% begin %>
<% content_for_facebook_feed_item feed_item, status do %>
  <!--div class="posted-by"><%= link_to "Posted on Twitter", twitter_settings_path %></div-->
  <span class="status-text"><%= linkify(shortlinkify(h(status.text))) %></span>
 
<% end %>
  <% rescue => e %>
    
     <% end %>

