<% @page_title = @kontact_information.f %>

<% draw_crumbs Crumb.new("Contacts", profile_kontacts_path(@profile)), 
  Crumb.new(@kontact_information.f, [@profile, @kontact]) %>

<% content_for :topbox do %>
  <h3>New email address for <%= @kontact_information.display_name %></h3>
<% end %>

<% form_for @email, :url => profile_kontact_kontact_information_emails_path(@profile, @kontact) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
	<%= submit_tag 'Save', :disable_with => 'Saving..' %>
<% end %>