<% @page_title = 'Location Results' %>
<%= draw_crumbs Crumb.new("Location", profile_locations_path(@p)) %>

<% content_for :actions do %>
  <ul><li><%= link_to 'Back', profile_locations_path(@p) %></li></ul>
<% end %>

<% content_for :stories do %>
	<ul>
		<li class="heading">Please choose a location</li>
		<li class="heading">We think you meant .. </li>
		<li><%= link_to @result.full_address, set_location_path(@profile, @result.full_address) %></li>
		<% if @result.all.length > 1 %>
			<li class="heading">Or you might be looking for.. </li>
  		<% @result.all.each do |option| %>
  			<li><%= link_to option.full_address, set_location_path(@profile, option.full_address) %></li>
  		<% end %>
		<% end %>	
	</ul>
<% end %>
